# {{CATEGORY}}

{{HUD}}

{{CHECKPOINT}}

> {{QUESTION_BADGE}}
>
> **<samp>{{QUESTION}}</samp>**

{{ANSWERS}}

{{JOKERS}}

{{PREVIOUS_DEBRIEF}}

<details>
<summary><samp>[+] Prize ladder</samp></summary>

| Round | Prize | Status |
| :--- | ---: | :--- |
{{LADDER}}

</details>

<details>
<summary><samp>[+] Answer & source (spoiler)</samp></summary>

## {{ANSWER}}

{{EXPLANATION}}

[{{REFERENCE_LABEL}}]({{REFERENCE}})

</details>

---

[Games](../README.md) / [Restart](q01.md)