# Congratulations!

{{ARTWORK}}

**15 / 15. Final prize: $1,000,000**

All five difficulty tiers cleared. No more questions. Just bragging rights.

[Play again](q01.md) / [Choose another run]({{ROOT}}README.md)

<details>
<summary>Final answer &amp; source</summary>

**{{CORRECT}}. {{ANSWER}}**

{{EXPLANATION}}

[Source]({{REFERENCE}})

</details>

---

[![MIT license](https://img.shields.io/badge/License-MIT-116329?logo=opensourceinitiative&logoColor=white)]({{ROOT}}LICENSE)
[![Minimum Rust version: 1.81](https://img.shields.io/badge/Rust-1.81%2B-000000?logo=rust&logoColor=white)]({{ROOT}}Cargo.toml)
